html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    color: black;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

html.dark {
    background-color: rgb(30 41 59);
    color: #fff;

}
.dark body {
    color: #fff;
}
.nav-links a:hover{
    color: white;
}
.dark .nav-links a {
    color: #fff;
}
.link-tags:hover{
    color: white;
}
.tag-rounded{
    color: white;
    /* background-color: #cbd5e1; */
}
.tag-rounded:hover{
    color: white;
}
.btnGreeting{
    color: black;
    background-color: #cbd5e1;
    /* background-color: white; */
}

.btnGreeting:hover{
    color: white;
    background-color: #334155;
}
.expanded {
    display: unset;
}