---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout pageTitle="Tags">
  <div class="flex gap-2 flex-col p-2 w-fit rounded">
    {
      uniqueTags.map((tag) => (
        <a class=" link-tags p-1 w-full hover:bg-slate-700 rounded-sm" href={`/tags/${tag}`}> {tag} </a>
      ))
    }
  </div>
</BaseLayout>
