---
import Hambuerger from "./Hamburger.astro";
import Navigation from "./navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav>
    <Hambuerger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>
