---

---

<div
  class="nav-links w-full top-20 left-12 hidden sm:( block bg-none ml-20 static w-auto) m-0 children:(block text-center py-2.5 no-underline text-lg font-bold uppercase) sm:( bg-none ml-20 block static w-auto children:(inline-block py-[15px] px-[20px]))"
>
  <a class="hover:bg-[#ff9776]" href="/">Home</a>
  <a class="hover:bg-[#ff9776]" href="/about/">About</a>
  <a class="hover:bg-[#ff9776]" href="/blog/">Blog</a>
</div>

