---

---

<div
  class="nav-links w-full top-20 left-12 hidden sm:( block bg-none ml-20 static w-auto) m-0 children:(block text-center py-2.5 no-underline text-lg font-bold uppercase) sm:( bg-none ml-20 block static w-auto children:(inline-block py-[15px] px-[20px]))"
>
  <a class=" rounded hover:bg-slate-700" href="/">Home</a>
  <a data-astro-reload class=" rounded hover:bg-slate-700" href="/about/">About</a>
  <a class=" rounded hover:bg-slate-700" href="/blog/">Blog</a>
  <a class=" rounded hover:bg-slate-700" href="/tags/">Tags</a>
</div>

